<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>房来乐，懂你想要的，，</title>
		<link rel="stylesheet" href="EASYUI/easyui.css" />
		<link rel="stylesheet" href="EASYUI/icon.css" />
		<script type="text/javascript" src="EASYUI/jquery.min.js" ></script>
		<script type="text/javascript" src="EASYUI/jquery.easyui.min.js" ></script>
		<script type="text/javascript" src="EASYUI/easyui-lang-zh_CN.js" ></script>
		<script type="text/javascript" src="ADMINJS/common.js" ></script>
	</head>
	{__CONTENT__}
</html>
